@inherits LayoutComponentBase
@using AntDesign

<div class="app-container">
    <!-- 第一层 Sider: 全局主导航 -->
    <div class="global-sidebar" style="width: 80px; flex-shrink: 0;">
        <div style="margin-bottom: 32px; text-align: center;">
            <Avatar Size="@AntDesign.AvatarSize.Large" Icon="@IconType.Outline.Rocket" Style="background: rgba(255,255,255,0.2)"/>
        </div>
        
        <NavMenu />
    </div>

    <!-- 主内容区 -->
    <div class="main-content">
        @Body
    </div>
</div>

<AntContainer />